<%- include("partials/header") %>

<main>
    <section id="waitingRoom">
        <h2>AH ! Une erreur</h2>
        <p>Une erreur est survenue</p>
        <p><%= error %></p>
        <a href="/"><button>Accueil</button></a>
    </section>
</main>

<%- include("partials/footer") %>
